* {
  font-family: "Exo 2", sans-serif;
}
html {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #05274b, #1a4d84);
}
header h1 {
  font-size: 3rem;
  color: white;
}
.bitcoin {
  animation: rotate infinite 14s linear;
  height: 45px;
}

/* HEADER ENDS******************** */
/* INPUTS & BUTTONS START ********************/
.buscar_container {
  display: flex;
  flex-flow: row nowrap;
}
.buscar_input {
  max-width: 75px;
  text-align: center;
  outline: none;
  border: none;
}
.buscar_btn {
}
/* INPUTS & BUTTONS END ********************/
td {
  white-space: nowrap;
}
.background {
  min-height: 100vh;
  background-image: linear-gradient(to bottom left, #1a4d84, #05274b);
}
.container {
  width: 600px;
  height: 230px;
  margin: 0 auto 20px auto;
  padding: 2rem;
  border-radius: 8px;
  background-image: linear-gradient(to bottom right, #19508b, #2667ad);
}
.layout {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  height: 100%;
}
.coinUl {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.coinLi {
  cursor: pointer;
  font-weight: bolder;
  color: #f7931a;
  text-shadow: 0.5px 0.5px 0.5px black;
  font-size: 1.3rem;

  border-radius: 8px;
}
.coinLi:hover {
  transition: 0.2s linear;
  transform: scale(1.1);
}
.resultCoinName {
  color: #f7931a;
}
.coinPriceText {
  color: rgb(238, 214, 214);
  font-size: 1rem;
}
.coinsResult {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@media (max-width: 800px) {
  header {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  header h1 {
    font-size: 2rem;
  }
  .bitcoin {
    animation: rotate infinite 14s linear;
    height: 45px;
  }

  /* HEADER ENDS******************** */

  .background {
    min-height: none;
    width: auto;
  }
  .container {
    width: auto;
    margin: auto;
    margin-bottom: 15px;
  }
  .layout {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
  }

  .coinUl {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .coinLi {
    cursor: pointer;
    font-weight: bolder;
    color: #f7931a;
    text-shadow: 0.5px 0.5px 0.5px black;
    font-size: 1rem;
    border-radius: 8px;
  }
  .coinLi:hover {
    transition: 0.2s linear;
    transform: scale(1.1);
  }

  .coinsResult {
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: start;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
  }
}
.myTable {
  font-size: 1.1rem;
}

@media (max-width: 500px) {
  .myTable {
    font-size: 1rem;
  }
  header {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  header h1 {
    font-size: 2rem;
  }
  .bitcoin {
    animation: rotate infinite 14s linear;
    height: 45px;
  }

  /* HEADER ENDS******************** */

  .background {
    min-height: none;
    width: auto;
  }
  .container {
    width: auto;
    height: auto;
    margin: auto;
    margin-bottom: 15px;
  }
  .layout {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
  }

  .coinUl {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .coinLi {
    cursor: pointer;
    font-weight: bolder;
    color: #f7931a;
    text-shadow: 0.5px 0.5px 0.5px black;
    font-size: 0.8rem;
    border-radius: 8px;
  }
  .coinLi:hover {
    transition: 0.2s linear;
    transform: scale(1.1);
  }

  .coinsResult {
    margin-top: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
  }
}
